<div class="form-container">
    <div class="form-group fixed-width-xxl">
        <label for="popup-categories">Mostra alle categorie</label>
        <mp-json-tree name="popup-categories" id="popup-categories" style="--mp-json-tree-width: 500px; --mp-json-tree-max-width: 800px; --mp-json-tree-min-width: 350px; --mp-json-tree-max-height: 520px; --mp-json-tree-min-height: 420px"></mp-json-tree>
    </div>
</div>
